body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.container {
    padding: 20px;
    margin: 50px auto;
    max-width: 400px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.buttons {
    margin: 20px 0;
}
.color-btn {
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    color: white;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.yellow {
    background-color: gold;
    color: black;
}

.purple {
    background-color: purple;
}